<%#
    For this partial you should specify following locals :
        - day
%>

<div class="daily_routine_attributes">
  <h4><%= day %></h4>
  <%= hidden_field_tag 'usager[routine_attributes][daily_routines_attributes][][day]', day %>
  <%= select_tag 'usager[routine_attributes][daily_routines_attributes][][presence]', options_for_select(Usagers::DailyRoutine::AcceptablePresences), :include_blank => true %>
  <%= select_tag 'usager[routine_attributes][daily_routines_attributes][][meal]', options_for_select(Usagers::DailyRoutine::AcceptableMeals), :include_blank => true %>
</div>
