<%#
   For this partial, you should specify following locals :
        - owner (Usager)
        - form
%>


<%= fields_for :routine do |routine_form| %>
    <% if routine && routine.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(routine.errors.count, "error") %> prohibited this usagers_routine from being saved:</h2>

          <ul>
          <% routine.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
        <% Usagers::DailyRoutine::AcceptableDays.each do |day| %>
            <%= render partial: 'usagers/daily_routines/form', locals: {day: day} %>
        <% end %>
    </div>
<% end %>
