<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @usagers_routine.owner_id %>
</p>


<%= link_to 'Edit', edit_usagers_routine_path(@usagers_routine) %> |
<%= link_to 'Back', usagers_routines_path %>
