<h1>Easy Plan</h1>

<p>
Coucou maman ! Voici la page où se trouvera bientôt les premières ébauches de cet outil dont nous avons parlé sur la route, vendredi dernier.
</p>

<p>
Dans un premier temps, l'outil en question sera un simple agenda correspondant à un seul usager, et pour lequel tu pourras réaliser la planification de ses activités. Il sera ensuite possible d'exporter cela sous un format csv. Important : il n'y aura PAS de persistence des données, donc il faudra impérativement sauvegarder ce que tu feras sur ta machine.
</p>

<p>
Enfin, nous n'en sommes pas encore là, évidemment. Pour le moment, je vais réaliser une maquette sur papier et te demander ce que tu en penses. Il faudrait quand même que tu me donnes la liste des activités, et éventuellement des exemples de fichiers excel dont tu te sers pour le moment.
</p>

<hr />

<%= link_to 'Liste des usagers', usagers_path %>
