<h1>Easy Plan</h1>

<p>
Fonctionnalités en place : Liste des usagers et plannings de ces usagers par semaine.
</p>

<hr />

<%= link_to 'Liste des usagers', usagers_path %>
<%= link_to 'Agenda', agenda_path %>
