<%= stylesheet_link_tag 'usagers' %>

<h2><%= @usager.full_name %></h2>
<div>
	<div>
		<label>Date de naissance :</label>
		<span><%= @usager.birth_date || "Pas de date enregistrée" %></span>
	</div>
</div>
